<%# modal here %>
<div class="modal fade" id="showuserlistingModal" tabindex="-1" role="dialog" aria-labelledby="showuserlistingModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"><%= @listing.user.name %>'s listings:
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">          
          <% @listing.user.listings.each do |listing| %>
            <p><%= link_to listing.title, listing_path(listing.id)%></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%# main section %>
<p id="notice"><%= notice %></p>

<div class="row d-flex justify-content-center">
    <%# image carousel module %>
    <div id="carouselExampleControls" class="carousel slide align-items-center" data-interval="false">
      <div class="carousel-inner">
        <% @listing.images.each_with_index do |image, index| %>
          <% if index < 1 %>
            <div class="carousel-item active">
              <%= image_tag image, class: "d-block", alt: "slide #{index + 1}", width: "500"%>
            </div>
          <% else %>
            <div class="carousel-item">
              <%= image_tag image, class: "d-block", alt: "slide #{index + 1}", width: "500"%>
            </div>
          <% end %>
        <% end %>
      </div>

      <%# no arrow appear if only one image %>
      <% if @listing.images.length != 1 %>
        <a class="carousel-control-prev" href="#carouselExampleControls"role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls"role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      <% end %>
    </div>

    <%# listing details %>
    <div class="col-md-3">
      <h1>
        <span><%= @listing.title %> 
        <% if @listing.user_id == current_user.id %>
          <%= link_to "Edit", edit_listing_path(@listing), class: "btn btn-primary",role: "button" %> 
        <% else %>
          <%# save listing function %>
          <% saved_or_not = @listing.savelistings.find_by_user_id(current_user.id)%>
          <% if saved_or_not %>
            <%= link_to (image_tag 'unsave_icon'), listing_savelisting_path(@listing, saved_or_not), method: "delete" %>
          <% else %>
            <%= link_to (image_tag 'save_icon'), listing_savelistings_path(@listing), method: "post" %>
          <% end %>
        <% end %>

        <%# navigate the back button responsively %>
        <% if params[:admin].present? %>
          <%= link_to 'Back', dashboard_path, class: "btn btn-primary",role: "button"%>
          <% else %>
          <%= link_to 'Back', listings_path, class: "btn btn-primary",role: "button"%>
        <% end %>

        </span>
      </h1>
      <p>
        <h5>Category:
          <% @listing.categories.each do |category| %>
          <%= link_to category.name.capitalize, listings_path(scope: :cat_name, cat_name: category.name) %>
          <% end %>
        </h5>
      </p>
      <p>
        <h5>Price:
        $<%= @listing.price %>
        </h5>
      </p>
      <p>
        <h5>Condition:
        <%= @listing.condition %>
        </h5>
      </p>
      <p>
        <h5>Delivery:
        <% if @listing.delivery == true %>
          available
        <% else %>
          not available
        <% end %>
        </h5>
      </p>
      <p>
        <h5>Description:
        <%= @listing.description %>
        </h5>
      </p>
      <p>
        <h5>Location:</h5>
        <%# @listing.location %>
      </p>

      <div style="height: 300px; width: 300px" id="map"></div>
      <%= javascript_pack_tag "leaflet/show" %>

      <div class="seller_info">
        <h5>Seller Information</h5>
        <% if @listing.user.avatar.attached? %>
          <%= image_tag @listing.user.avatar, size:"40x40" %>
        <% else %>
          <%= image_tag "user", size:"40x40" %>
        <% end %>
        <%= @listing.user.name %>&nbsp&nbsp&nbsp&nbsp&nbsp

        <%# link to a user's posts(in a pop-up) %>
        <a role="button" class="badge" data-toggle="modal" data-target="#showuserlistingModal">
          <%= "has #{@listing.user.listings.length} #{@listing.user.listings.length <= 1 ? "post" : "posts"}" %>
        </a>

        <h5>Contact Seller</h5>
        <p> Phone: <%= @listing.phone %> </p>
      </div>
    </div>
</div>



