<!DOCTYPE html>
<html>
  <head>
    <title>Furniture Land</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# stylesheet_pack_tag 'application' %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= stylesheet_link_tag 'application' %>

  </head>

  <body>
    <%= render "shared/navbar"%>
    <div class="container-fluid">
      <p class="alert"><%= alert %></p>
        <%= yield %>
    </div>
  </body>
</html>
